\
<!-- 1st image and content -->
<div class="relative overflow-hidden bg-white">
    <div class="pb-80 pt-16">
        <div class="relative mx-auto max-w-7xl px-4">
            <div class="max-w-lg">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900">Summer styles are finally here</h1>
                <p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the
                    harsh elements of a world that doesn't care if you live or die.</p>
                <a href="#"
                    class=" mt-10 inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Shop
                    Collection</a>
            </div>
            <div>
                <div class="mt-80">
                    <!-- Decorative image grid -->
                    <div class="absolute left-1/2 top-0">
                        <div class="flex items-center space-x-6">
                            <div class="grid shrink-0 grid-cols-1 gap-y-6">
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                            </div>
                            <div class="grid shrink-0 grid-cols-1 gap-y-6">
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                            </div>
                            <div class="grid shrink-0 grid-cols-1 gap-y-6">
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                                <div class="h-64 w-44 overflow-hidden rounded-lg">
                                    <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg"
                                        alt="" class="size-full object-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Some Features -->
<div class="bg-dark py-20">
    <div class="mx-auto max-w-7xl px-6">
        <h2 class="text-center text-4xl font-semibold italic text-white">Features</h2>
        <div class="mx-0 mt-10 grid max-w-none grid-cols-5 items-center gap-x-8 gap-y-10">
            <img class="col-span-1 max-h-12 w-full object-contain bg-white rounded"
                src="https://tailwindui.com/plus-assets/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor"
                width="158" height="48">
            <img class="col-span-1 max-h-12 w-full object-contain bg-white rounded"
                src="https://tailwindui.com/plus-assets/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform"
                width="158" height="48">
            <img class="col-span-1 max-h-12 w-full object-contain bg-white rounded"
                src="https://tailwindui.com/plus-assets/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple"
                width="158" height="48">
            <img class="col-span-1 max-h-12 w-full object-contain bg-white rounded"
                src="https://tailwindui.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal"
                width="158" height="48">
            <img class="col-span-1 max-h-12 w-full object-contain bg-white rounded"
                src="https://tailwindui.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic"
                width="158" height="48">
        </div>
    </div>
</div>

<!-- Our Featured Products -->
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-4 py-8">
        <h2 class=" text-center text-2xl font-bold text-gray-900">Our Featured Products</h2>
        <div class="mt-6 grid grid-cols-4 gap-x-6 gap-y-10">
            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>

            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>

            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>

            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offers and More  -->
<div class="relative mb-10 h-64">
    <img class="w-full h-full object-cover" src="assets/dark-background.jpg" alt="Your Company">
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="mx-auto max-w-7xl">
            <h2 class="text-center font-bold text-white">Offers and More</h2>
            <h1 class="text-center text-4xl font-bold text-white">Up to <span class="text-red">70% Off</span> - All
                t-shirts & Accessories</h1>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="#"
                    class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Explore
                    Now</a>
            </div>
        </div>
    </div>
</div>

<!-- New Arrivals -->
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-4 py-8">
        <h2 class=" text-center text-2xl font-bold text-gray-900">New Arrivals</h2>
        <div class="mt-6 grid grid-cols-4 gap-x-6 gap-y-10">
            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>

            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>

            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>

            <div class="group relative">
                <img src="https://tailwindui.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                Basic Tee
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">Black</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$35</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image Grids-->
<div class="grid grid-cols-3 gap-4 py-3 px-3">
    <div class="bg-gray-300 p-6">
        <h2>Image 1</h2>
        <p>Content for Image 1.</p>
    </div>
    <div class="bg-gray-300 p-6">
        <h2>Image 2</h2>
        <p>Content for Image 2.</p>
    </div>
    <div class="bg-gray-300 p-6">
        <h2>Image 3</h2>
        <p>Content for Image 3.</p>
    </div>
</div>

<div class="grid grid-cols-2 gap-4 py-3 px-3">
    <div class="bg-gray-300 p-6">
        <h2>Image 1</h2>
        <p>Content for Image 1.</p>
    </div>
    <div class="bg-gray-300 p-6">
        <h2>Image 2</h2>
        <p>Content for Image 2.</p>
    </div>
</div>

<!-- News Letter (optional)-->
<div class="relative mb-10 h-64">
    <img class="w-full h-full object-cover" src="assets/dark-background.jpg" alt="Your Company">
    
    <!-- First absolute div (left-aligned) -->
    <div class="absolute inset-y-0 inset-x-0 right-1/2 flex items-center justify-center">
        <div class="mx-auto max-w-7xl text-center">
            <h1 class="text-4xl font-bold text-white">Sign up for <span class="text-red">News Letters</span></h1>
            <h2 class="font-bold text-white">Get E-mail Updates</h2>
        </div>
    </div>

    <!-- Second absolute div (aligned to start from the center of the first div) -->
    <div class="absolute inset-y-0 inset-x-0 left-1/2 flex items-center justify-start">
        <div class="mx-auto flex items-center gap-4">
            <input id="email-address" name="email" type="email" autocomplete="email" required 
                class="rounded-md bg-white px-16 py-2 placeholder:text-gray-500" 
                placeholder="Enter your email">
            <button type="submit" 
                class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                Subscribe
            </button>
        </div>
    </div>
</div>

<!-- Footer-->
<div class="grid grid-cols-3 gap-4 py-3 px-3">
    <div class="bg-gray-300 p-6 grid grid-cols-1">
       <div>
        <h2>Logo</h2>
       </div>
       <div>
        <h2>Contact</h2>
        <p>Address, Phone No.</p>
       </div>
       <div>
       <h2>Follow Us</h2>
       </div>
       <div class="bg-white p-6 grid grid-cols-4">
        <div><p>Image 1.</p></div>
        <div><p>Image 2.</p></div>
        <div><p>Image 3.</p></div>
        <div><p>Image 4.</p></div>
       </div>
    </div>
    <div class="bg-gray-300 p-6 grid grid-cols-2">
        <div>
            <h2>About</h2>
        <p>Content for About.</p>
        </div>
        <div>
            <h2>My Account</h2>
        <p>Content for Account.</p>
        </div>
    </div>
    <div class="bg-gray-300 p-6 grid grid-cols-1">
        <div>
            <h2>Install App</h2>
        </div>
        <div>
            <p>Images and links.</p>
        </div>
    </div>
</div>

<!--Copy rights column-->
<div class="mx-auto p-6 flex flex-auto justify-center">
    <p>copy rights</p>
</div>